body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;}

main {
    margin: 1rem;
}

.text-right {
    text-align: right;
}

.all-access, .download {
    background-color: #fbbe4e;
}

.all-access {
    margin-bottom: 2.5rem;
    padding: 1rem;
}

footer {
    text-align: center;
    background-color: #fbbe4e;

}

ul {
    height: auto;
    margin-bottom: 2rem;
}

li {
    display: inline-block;
    padding: 1rem;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

p {
    margin-bottom: 0;
    color: black;
    font-family: 'Roboto'
}

.fb {
    margin-top: 2rem;
}
